# Messaggi di sistema

I Messaggi globali o messaggi di sistema sono dei brevi testi in formato HTML che possono essere trasmessi dagli amministratori di Timerepublik a tutti gli utenti. 

Questi dovrebbero essere visualizzati al login e impostati come letti (read) alla prima visualizzazione.

## Lista dei messaggi di sistema

`GET https://timerepublik.com/api/v1/system_messages.json`


```shell
curl "https://timerepublik.com/api/v1/system_messages.json"
  -H "Authorization: Bearer 4256dde1cce5957d2d6be4b4f4dcee1656ec2990522eab52a8491e2130f29ea7"
```

> Esempio Risposta

```json

[
  {
    "id": 1,
    "title": "ciao",
    "message": "<p>Test message</p>",
    "locales": [
      "it",
      "en"
    ],
    "image": null,
    "start_date": "2015-07-08T09:45:02.000Z",
    "end_date": "2015-07-18T09:45:09.000Z",
    "readed": false
  }
]
```


> Verranno ritornati solamente i messaggi non scaduti e non letti dall'utente corrente.

Verranno visualizzati solamente i messaggi non scaduti e non letti dall'utente corrente.

Non è prevista paginazione e il limite della cardinalità dei risultati è settato da Timerepublik.


### Attributi Messaggio

Parameter | Type | Description
--------- | ------- | -----------
system_message[id]|fixnum| Id del messaggio
system_message[title]|string| Titolo
system_message[message]|text| Corpo del messaggio
system_message[locales]|Array| Lista delle lingue per cui il messaggio deve essere visualizzato.
system_message[image]|Image| Immagine opzionale
system_message[start_date]|datetime| Data di inizio visualizzazione messaggio
system_message[end_date]|datetime| Data di fine visualizzazione messaggio
system_message[readed]|boolean| Indica se il messaggio è stato letto dall'utente corrente


## Conferma la lettura di un messaggio

`POST https://timerepublik.com/api/v1/system_messages/:SYSTEM_MESSAGE_ID/read.json`

Non servono parametri, è sufficente indicare l'ID del messaggio da segnalare come letto.

> Conferma la lettura del messaggio con ID 1

```shell
curl -X POST "https://timerepublik.com/api/v1/system_messages/:ID_MESSAGE/read.json" \
  -H "Authorization: Bearer 3c11bb8c4c78180bba0f3c86984ff2e6b8a6c3cbdf5e1c125a26e196d19e115b"
```

```json
{
  "id": 1,
  "title": "ciao",
  "message": "<p>Test message</p>",
  "locales": [
    "it",
    "en"
  ],
  "image": null,
  "start_date": "2015-07-08T09:45:02.000Z",
  "end_date": "2015-07-18T09:45:09.000Z",
  "readed": true
}
```

In risposta si ottiene il system message con il flag di lettura aggiornato.
