<%=I18n.t("section.user")%>

```shell```
curl "https://timerepublik.com/api/v1/pioz.json" \
  -H "Authorization: Bearer 4256dde1cce5957d2d6be4b4f4dcee1656ec2990522eab52a8491e2130f29ea7"
```

```json```
{
  "id": 1,
  "email": "private",
  "username": "pioz",
  "first_name": "Enrico",
  "last_name": "Pilotto",
  "avatar": {
    "url": "/uploads/avatars/1/e16893748a25b9877ad12f3af72ef842_e55bf20cb49ffc2c42d7ddc4435247e5.jpeg",
    "little": {
      "url": "/uploads/avatars/1/little_e16893748a25b9877ad12f3af72ef842_e55bf20cb49ffc2c42d7ddc4435247e5.jpeg"
    },
    "small": {
      "url": "/uploads/avatars/1/small_e16893748a25b9877ad12f3af72ef842_e55bf20cb49ffc2c42d7ddc4435247e5.jpeg"
    },
    "medium": {
      "url": "/uploads/avatars/1/medium_e16893748a25b9877ad12f3af72ef842_e55bf20cb49ffc2c42d7ddc4435247e5.jpeg"
    },
    "default": {
      "url": "/uploads/avatars/1/default_e16893748a25b9877ad12f3af72ef842_e55bf20cb49ffc2c42d7ddc4435247e5.jpeg"
    },
    "big": {
      "url": "/uploads/avatars/1/big_e16893748a25b9877ad12f3af72ef842_e55bf20cb49ffc2c42d7ddc4435247e5.jpeg"
    },
    "bigger": {
      "url": "/uploads/avatars/1/bigger_e16893748a25b9877ad12f3af72ef842_e55bf20cb49ffc2c42d7ddc4435247e5.jpeg"
    }
  },
  "bio": "<p>test</p>",
  "gender": "private",
  "time_available": 6600,
  "time_earned": 7200,
  "time_spent": 600,
  "trustmeter": 39,
  "avg_rating": null,
  "units": "km",
  "time_zone": null,
  "locale": "it",
  "public_profile": false,
  "location": {
    "latitude": -70.70829902153346,
    "longitude": -91.66011066094413
  },
  "distance": 10069.18,
  "tag_ids": [
    842691406
  ],
  "talent_ids": [
    11
  ],
  "address": "private",
  "created_at": "2015-07-10T13:10:00.000Z",
  "cover": null,
  "birthday": "private",
  "phone": "private",
  "city": "private",
  "state": "Louisiana",
  "country": "Gambia",
  "zip": "private",
  "skype": null,
  "facebook": null,
  "twitter": null,
  "linkedin": null,
  "website": null,
  "vkontakte": null,
  "odnoklasniki": null,
  "favoritings_count": 0,
  "inverse_favoritings_count": 1,
  "new_awards": 0,
  "group": null,
  "tags": [
    {
      "id": 842691406,
      "list": [],
      "active": true,
      "position": 0.0,
      "talent_id": 11
    }
  ],
  "talents": [
    {
      "id": 11,
      "name": "Mason",
      "position": 0.0,
      "slug": null,
      "icon": null,
      "tags_count": 0,
      "talent_category_id": 6,
      "disabled": false,
      "created_at": "2015-07-10T13:10:00.000Z",
      "updated_at": "2015-07-10T13:10:00.000Z"
    }
  ],
  "favorite_ids": [],
  "inverse_favorite_ids": [
    1010
  ],
  "awards": [],
  "latest_ratings": [],
  "latest_following": [],
  "latest_followers": [
    {
      "id": 1010,
      "email": "azaupa@gmail.com",
      "username": "andreazaupa",
      "first_name": "Andrea",
      "last_name": "Zaupa",
      "trustmeter": 22
    }
  ],
  "latest_requests": [
    {
      "id": 1072902424,
      "slug": "enrico-pilotto-chiede-un-servizio-di-computer-helper-08966be726a62aa4128e37432862aaaf",
      "title": "Enrico Pilotto chiede un servizio di: Computer Helper",
      "message": "ciao , nuova richiesta:\r\nasdasd\r\ndsaasdasdsad\r\nsadasd",
      "satisfied": false,
      "old": false,
      "archived": false,
      "locale": "it",
      "conversations_count": 1,
      "user_id": 1,
      "talent_id": 1,
      "created_at": "2015-07-15T10:10:34.000Z"
    }
  ],
  "request_ids": [
    1072902424
  ],
  "public_attachments": []
}
```

L'endpoint restituisce le informaioni pubbliche di un utente timerepublik

Enpoint: 

`GET: https://timerepublik.com/api/v1/:USER_ID_OR_USERNAME.json`

Sostituire nella rotta "USER_ID_OR_USERNAME" con id utente o in alternativa il uso username.


### Descrizione Attributi Utente

Parameter | Type | Description
--------- | ------- | -----------
id|integer| Identificativo utente
username|string| Username univoco dell'utente
first_name|string| Nome utente
last_name|string| Cognome utente
gender|string*| Sesso ("M" o "F") 
birthday|date| Data di nascita
phone|string| Telefono
bio|string| Descrizione profilo
avatar|image| Avatar utente 
cover|image| Cover del profilo
skype|string| Skype name
facebook|string| url profilo facebook
twitter|string| url profilo twitter
linkedin|string| url profilo linkedin
website|string| url website dell'utente
vkontakte|string| url vkontakte
odnoklasniki|string|url odnoklasniki
address|string| Indirizzo (via)
city|string| Comune
state|string| Provincia (sigla)
country|string| Nazione (sigla)
zip|string| zip o cap
location[latitude]| string| latitudine
location[longitude]|string| longitudine
email|string| Email utente (neccessita di current_password)
units|string| Unità di misura preferita dall'utente (km)
time_zone|string| time_zone Utente (formato standard Rome, London, ...)
time_available|integer| Tempo disponibile (secondi)
time_earned|integer| Tempo guadagnato (secondi)
time_spent|integer| Tempo speso (secondi)
trustmeter|integer| Indica il livello di Trust Timerepublik
distance|integer| E' la distanza in km calcolata dalla posizione dell'utente corrente.
tag_ids|Array|Identificativi dei tag utente
public_profile|boolean| Limita la visibilità pubblica del profilo utente.
talent_ids|array| Lista di ID Talenti (o id separati da ,)
favoritings_count|integer| Numero di utenti che segue
group|integer|Identificativo del gruppo utente (beta)
tags|Array|Lista dei tag collegati al profilo (Tag di talento)
talents|Array| Lista dei talenti collegati al profilo
favorite_ids|Array| Lista degli id degli utenti seguiti
inverse_favorite_ids|Array| Lista degli id degli utenti che seguono
inverse_favoritings_count|integer| Numero di utenti che seguono l'utente
awards|Array| Lista dei riconoscimenti utente
latest_ratings|Array| Ultimi scambi conseguiti (da mostrare nel profilo pubblico)
latest_following|Array| Ultimi utenti seguiti (da mostrare nel profilo pubblico)
latest_followers|Array| Ultimi utenti che seguono (da mostrare nel profilo pubblico)
latest_requests|Array| Ultime richieste non completate dell'utente. (da mostrare nel profilo pubblico)
request_ids|Array| Identificativi di tutte le richieste create dall'utente
public_attachments|Array| Lista degli allegati pubblici al profilo

<aside class="warning">  

Attenzione: i campi 
email gender birthday phone address city state country zip 
possono essere limitati nella visibilità a seconda delle impostazioni privacy dell'utente.

Nel caso l'informazione non sia visualizzabile da chi ha eseguito la richiesta il valore ritornato sarà la stringa 'private'

</aside>


